<div class="jumbotron hero">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-7 phone-preview">
                <div class="iphone-mockup">
                    <div class="screen"></div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-3 get-it">
                <h1>Datavase </h1>
                <p>Community driven database preserving Canada's natural ecology</p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<section class="testimonials">
    <h2 class="text-center">People Love It!</h2>
    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>High Park (probably)</footer>
    </blockquote>
</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Why Datavase?</h2>
                <p>Datavase is a community driven invasive plant database that strives to maintain accurate, up-to-date information on invasive plant species.</p>
            </div>
            <div class="col-md-6">
                <div class="row icon-features">
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-cloud"></i>
                        <p>eco-technology </p>
                    </div>
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-grain"></i>
                        <p>accessible info</p>
                    </div>
                    <div class="col-xs-4 icon-feature"><i class="glyphicon glyphicon-heart-empty"></i>
                        <p>community focused</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>Jonathan and Noelle © 2016</h5></div>
            <div class="col-sm-6 social-icons"></div>
        </div>
    </div>
</footer>
