<div class="article-clean">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="intro">
          <h1 class="text-center"><%= @plant.name %></h1><img class="img-responsive" src="assets/img/torino_google-map.png"></div>
        <div class="text">
          <p><%= @plant.description%></p>
          <figure><img src="assets/img/dogstrangler.jpg"></figure>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="testimonials"></section>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>Jonathan and Noelle © 2016</h5></div>
            <div class="col-sm-6 social-icons"></div>
        </div>
    </div>
</footer>
